:root {
  --font-family: "Rubik", sans-serif;

  --color-bg: hsl(0 0% 3.9%);
  --color-text: hsl(0 0% 98%);
  --color-input-bg: hsl(0 0% 10%);
  --color-input-text: hsl(0 0% 98%);
  --color-placeholder: hsl(0 0% 50%);
  --color-button-bg: hsl(0 0% 98%);
  --color-button-bg-hover: hsl(0 0% 70%);
  --color-button-text: hsl(0 0% 3.9%);
}

body.light-theme {
  --color-bg: hsl(0 0% 98%);
  --color-text: hsl(0 0% 3.9%);
  --color-input-bg: hsl(0 0% 90%);
  --color-input-text: hsl(0 0% 10%);
  --color-placeholder: hsl(0 0% 40%);
  --color-button-bg: hsl(0 0% 10%);
  --color-button-bg-hover: hsl(0 0% 20%);
  --color-button-text: hsl(0 0% 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body.time-calculator,
body.survivors-calculator {
  font-family: var(--font-family);
  background-color: var(--color-bg);
  color: var(--color-text);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

header,
footer {
  padding: 0.5rem;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  flex: 1;
  padding: 0.5rem;
}
main > div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: min-content;
}

input,
select {
  padding: 0.3rem 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  background: var(--color-input-bg);
  color: var(--color-input-text);
  border: none;
  border-radius: 4px;
}
select,
option {
  font-size: 24px;
}

input::placeholder,
select::placeholder {
  color: var(--color-placeholder);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.actionBtn {
  margin-top: 1rem;
  padding: 0.3rem 0.6rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  background: var(--color-button-bg);
  color: var(--color-button-text);
  transition: background 0.2s ease;
}

.actionBtn:hover,
.actionBtn:active {
  background: var(--color-button-bg-hover);
}

.themeToggle {
  background-color: inherit;
  border: none;
  outline: none;
  min-width: 40px;
  min-height: 40px;
  font-size: 1.5rem;
}
